.Heading_Container {
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #232946;
}

.Heading {
    margin: 0;
    font-family: 'Architects Daughter', cursive;
    font-size: 2.5rem;
}

.Sub_Heading {
    width: 80%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}